<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/main.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home Page</title>
</head>

<body>
    <button onclick="logout()">Logout</button>
    <div class="tạo bài viết mới">
        <h3>Đăng bài</h3>
        <textarea name="caption" id="caption" cols="10" rows="2" placeholder="Bạn đang nghĩ gì?"></textarea><br>
        <img style="display: none;" id="imagePreview"><br>
        <div id="previewVideo"></div><br>
        <input type="file" name="image" id="image" accept="image/*" onchange="previewImage(this);"><br>
        <input type="text" placeholder="Nhập đường dẫn video youtube của bạn" id="video" name="video"
            oninput="previewVideo()"><br>
        <button type="submit" onclick="addPost()">Post</button>
    </div>
    <div class="timeline">

    </div>
</body>

</html>