textarea{
  resize: none;
}
iframe{
  object-fit: cover;
  width: 80%;
}
select{
  width: 100%;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.new-notification{
  width: 500px;
  height: 300px;
  position: fixed;
}
.new-notification-2{
  display: none;
  z-index: 1; position: absolute;
}
.user-avatar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: contain;
}

.card{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
}
.time{
  font-size: 0.8rem;
  color: rgb(99, 99, 99)
}
/*index.ejs*/
.index .header{
  height: 50px;
}
.row .navigation{
  height: 800px;
}
.row .notification{
  height: 800px;
}


.new-post-student{
  margin: 10px
}
.post{
  width: 90%;
  background-color: #dfe3ee;
  margin: 20px auto;
  padding: 20px;
}
.post .caption{
  display: flex;
  justify-content:space-between;

}
.post .postOf .caption-left{
  width: 80%;
  text-align: left;
}
.post .postOf .caption-right{
  text-align: right;
}
.post .caption .caption-left input{
  display: none;
}
.post .caption .caption-left button{
  display: none;
}
.post .attach{
  text-align: center;
}

.post .attach img{
  margin: 20px auto;
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.post .attach .video{
  margin: 10px;
}
/* admin.ejs */

.new-post-student .previewImage{
  width: 80%;
  height: 80%;
  margin: auto;
}
.previewImage{
  display: none;
}
.new-post-student .add-attach{
  display: flex;
}
.new-post-student .add-attach input[type=file]{
  display: none;
}

/* Comment */
.comment .comment-content input{
  display: none;
}

.comment .comment-content .button-confirm button{
  display: none;
}
.tool-comment button{
  height: 60%;
}

/* FE*/
/* index css */
/* Sidebar */
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #33485c;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
  overflow: auto;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}
#sidebar .sidebar-header h3{
  text-align: center;
}
#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #33485c;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #33485c;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 10px;
}

/*-----------------------------------------------------
        Notice
**************************************************/
.notice-box{
  margin-top: 50px;
  border-radius: 10px;
  width: 23%;
  position: fixed;
  overflow: auto;
  height: 80%;
}
.notice-box-header{
  position: fixed;
  overflow: auto;
}
.notice-box a:hover{
  color: red;
  cursor: pointer;
  font-size: px;
}
.notice-box .one-notice{
  border-bottom: 3px solid #33485c;
  margin: 10px;
}
.notice-box .notice-date-time{
  font-size: 12px;
  color: rgb(99, 99, 99);
  font-style: italic;
}
.notice-box .notice-summary{
  font-size: 15px;
  color: rgb(99, 99, 99);
}
.notice-box .notice-title{
  font-size: 18px;
  font-weight: bold;
}

/* notice page */
.notice-list .one-notice{
    border: 2px solid #33485c;
    border-radius: 10px;
    padding: 10px;
    margin: 25px;
}
.notice-list .notice-date-time{
    font-size: 15px;
    color: rgb(99, 99, 99);
    font-style: italic;
}
.notice-list .notice-summary{
    font-size: 15px;
}
.notice-list .notice-title{
    font-size: 20px;
    color:royalblue;
}
.pagination .input-page{
    width: 10%;
}
.notice-detail-header{
  border: 2px solid #33485c;
  border-radius: 10px;
  text-align: center;
}
.notice-detail-header h5{
  margin-bottom: 0px;
}

.notice-detail .title{
  font-size: 35px;
  font-weight: bold;
}
.notice-detail .date-time{
  font-size: 18px;
  color: rgb(99, 99, 99);
  font-style: italic;
}
.notice-detail .summary{
  font-size: 25px;
  font-style: italic;
}
.notice-detail .detail{
  font-size: 20px;
}

