textarea{

  resize: none;
}

.card{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
}
.time{
  font-size: 0.8rem;
  color: rgb(99, 99, 99)
}
/*index.ejs*/
.index .header{
  height: 50px;
}
.row .navigation{
  height: 800px;
}
.row .notification{
  height: 800px;
}


.new-post-student{
  margin: 10px
}
.post{
  width: 90%;
  background-color: #d9d9d9;
  margin: 20px auto;

}
.post .postOf{
  margin: 20px;
  padding-top: 20px;
}
.post .caption{
  background-color: tomato;
  display: flex;
  justify-content:space-between;
}
.post .caption .caption-left{
  margin: 20px;
  text-align: left;
}
.post .caption .caption-left input{
  display: none;
}
.post .caption .caption-left button{
  display: none;
}
.post .attach{
  text-align: center;
}

.post .attach img{
  margin: 20px auto;
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.post .attach .video{
  margin: 10px;
}
/* admin.ejs */

.image-upload input {
  display: none;
}
.new-post-student .previewImage{
  width: 80%;
  height: 80%;
  margin: auto;
}
.new-post-student .preview img{
  display: none;
}
.new-post-student .add-attach{
  display: flex;
}
.new-post-student .add-attach input[type=file]{
  display: none;
}

/* Comment */
.comment .comment-content input{
  display: none;
}

.comment .comment-content .button-confirm button{
  display: none;
}